{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Home
{% endblock %}



{% block content %}
    {% include 'components/_navbar.html.twig' %}
    <h1>Welcome to {{sitename}}</h1>
{% endblock %}